<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static',filename='Styles/styles.css') }}">
    <title>Welcome</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;800;900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div id="particles-js">
      <div class="content-wrapper">
        <div class="navbar-container">
          <!-- starting of navbar -->
          <nav class="navbar navbar-expand-lg navbar-dark  navbar-custom">
            <div class="container-fluid">
              <a class="navbar-brand nav-text " href="/"><img class="nav-icon" src="https://i.postimg.cc/4xBjc1yk/Cryptogram.png" alt="#" /></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Registration">Registration</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Login">LogIn</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="adLogin">AdminLogin</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <!-- ending of navbar -->
        <div class="title-wrapper">
          <h1 class="home-header">Cryptogram</h1>
        </div><br><br>
        <div class="about-wrapper">
          <button type="button" class="collapsible">About Project</button>
          <div class="content">
            <p>
              The term Data holds a greater value in the present world which is running after technology. As the saying goes if you are having abundant data, you are powerful enough to rule the world. In this particular circumstance its crystal clear that data can be a boon if proper security is provided or it will be a bane and destroys everything. The government/private organizations in India lack transparency, security and supervision which has marked a negative impact on the willingness of the sponsors or organizations. It has been a simple task to misuse the funds and showing the wrong records to the higher authorities. To avoid these issues Blockchain technology can be proposed as a perfect solution.
              This particular web application will be validating the transaction, only when the validation is successful from both sides then only the data is sent into the chain and the person can be added into the chain. In this case fake records or unauthorized transactions will not be allowed into the chain. So, this website focusses completely on providing security to the data that you want to keep safe. This provides security and transparency to the data that you want to store adding to that only authorized data is allowed to enter the Blockchain.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- script linking for styling & -->
    <script src="static/Particles/particles.js"></script>
    <script src="static/Particles/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="static\Particles\validate.js"></script>
    <!-- script linking -->
</body>
</html>
