<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static',filename='Styles/styles.css') }}">
    <title>LogIn</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    
</head>
<body>
    <div id="particles-js">
      <div class="content-wrapper">
        <div class="navbar-container">
          <!-- starting of navbar -->
          <nav class="navbar navbar-expand-lg navbar-dark  navbar-custom">
            <div class="container-fluid">
              <a class="navbar-brand nav-text" href="/"><img class="nav-icon" src="https://i.postimg.cc/4xBjc1yk/Cryptogram.png" alt="#" /></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Registration">Register</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
      </div>
        <!-- ending of navbar -->
        <br>
        <div class="heading-wrapper">
          <h1 class="page-header">Login details!</h1>
        </div>
        <div class="login">
          <form class="row g-3 needs-validation " novalidate action="{{ url_for('projectlogin') }}" 	method="post">
            <div class="row-md">
              <label for="validationCustomEmail" class="form-label">Email :</label>
              <div class="input-group has-validation">
                <input type="email" class="form-control" name="email" id="validationCustomEmail" placeholder=" Your Email" aria-describedby="inputGroupPrepend" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div class="invalid-feedback">
                  Please choose a valid Email.
                </div>
              </div>
            </div>
            <br>
            <div class="row-md ">
              <label for="validationCustom01" class="form-label">Password :</label>
              <input type="password" class="form-control" name="password" id="validationCustom01" minlength="8" maxlength="16" placeholder="Password" required>
              <div class="valid-feedback feedback-pos">
                Looks good!
              </div>
              <div class="invalid-feedback feedback-pos">
                Please Enter Password.
              </div>
            </div>
            <br><br>
            <div class="text-light">{{msg}}</div>
            <div class="row-md">
              <button type="submit" class="btn btn-outline-primary" type="submit">Submit Form</button>
            </div>
          </form> 
      </div>
      </div>
    </div>
    <!-- script linking for styling & -->
    <script src="static/Particles/particles.js"></script>
    <script src="static/Particles/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="static/Particles/validate.js"></script>
    <!-- script linking -->
</body>
</html>